body{
    margin: 0px;
    padding: 0px;
}
.hero{
    background-image: url(assets/backgrounds/h_img.jpg);
    background-color: rgb(180, 132, 84);
    height: 690px;
    width: 100%;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 20px;
}
.hero-text{
    padding-top: 180px;
    
}
.scroll-down{
    padding-top: 190px;
}
.hero-text, .about-us, .services-text, .what-we-do, .work-text, .port-text, .forms, .contact-info{
    font-family: 'Muli', sans-serif;
}
.about-us{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 13px;
    color: black;
    margin: 0px;
}
.services{
    background-image: url(assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    height: 380px;
}
.services-text{
    padding-top: 125px;
    font-size: 13px;
}
.what-we-do{
    text-align: center;
    font-size: 13px;

}
.work-text{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;  
    column-gap: 20px;
    font-size: 12px;
   
}
.what{
    padding-top: 50px;
    padding-bottom: 50px;
}
.text{
    padding-top: 30px;
    padding-bottom: 20px;
}

div.portfolio>img{
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    padding: 10px;
    margin: 0px;
}
.portfolio-images{
    text-align: center;
    position: relative;
    padding-left: 250px;
    padding-bottom: 0px;
}
.port-text{
    color: grey;
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
}
.contact-us{
    background-image: url(assets/backgrounds/c_image.jpg);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 480px;
    padding-top: 80px;
}
input[type=text], input[type=email], textarea{
    background: none;
    border-radius: 3px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    color: white;
    padding: 5px;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus{
    outline: none;
}
.forms{
    padding: 10px;
    font-size: 16px;
}
input[type=text]{
    position: absolute;
    left: 270px;
}
input[type=email]{
    position: absolute;
    right: 250px;
}
textarea{
    position: absolute;
    top: 200px;
    right: 250px;
}
.contact-info{
    text-align: center;
    padding: 30px;
    font-size: 11px;
    font-weight: bolder;
}
div.contact-info>img{
    object-fit: scale-down;
    width: 50px;
    height: 50px;
    padding: 10px;
}
.bg{
    background-color: #eff0e0;
    background-size: cover;
}