body{
    margin: auto;
    padding: auto;
}
.hero{
    background-image: url(assets/backgrounds/h_img.jpg);
    background-color: rgb(180, 132, 84);
    height: 690px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px;
}
.hero-text{
    padding-top: 180px;
    
}
.scroll-down{
    position: relative;
    padding-top: 190px;
}
@media screen and (max-width:400px){
    .scroll-down{
        padding-top: 100px;
    }
}
.scroll-down:hover{
    opacity: .5;
}
.hero-text, .about-us, .services-text, .what-we-do, .work-text, .port-text, .forms, .contact-info{
    font-family: 'Muli', sans-serif;
}
.about-us{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 13px;
    color: black;
    margin: 0px;
}
.services{
    background-image: url(assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    height: 380px;
}
.services-text{
    padding-top: 125px;
    font-size: 13px;
}
.what-we-do{
    text-align: center;
    font-size: 13px;

}
.work-text{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;  
    column-gap: 20px;
    font-size: 12px;
   
}
.what{
    padding-top: 50px;
    padding-bottom: 50px;
}
.text{
    padding-top: 30px;
    padding-bottom: 20px;
}
.portfolio{
    float: none;
    display: inline-block;
    text-align: center;    
    margin-right: auto;
    margin-top: auto;
    padding-bottom: 0px;
    margin-right: 5px;
    margin-top: 5px;
}
.portfolio2{
    float: none;
    display: inline-block;
    text-align: center;    
    margin-right: 5px;
    margin-top: 5px;
    padding-bottom: 0px;
}

div.portfolio>img, .portfolio2>img{
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    padding: 5px;
    margin: 0 0;
    box-sizing: content-box;
}
div.portfolio>img:hover{
    opacity: .7;
}
.portfolio-images{
    display: inline-block;
    text-align: center;
    padding-left: 330px;
}
.portfolio-images::after{
    content: "";
    display: table;
    clear: both;
}
.port-text{
    color: grey;
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
}
.portf{
    padding-bottom: 80px;
}
@media screen and (max-width: 600px){
    .portfolio, .portfolio2{
        width: 100%;
    }
    .portfolio-images{
        padding-left: 0px;
    }
}
@media screen and (max-width: 1100px){
    .portfolio, .portfolio2{
        width: 100%;
    }
    .portfolio-images{
        padding-left: 0px;
    }
}
.contact-us{
    background-image: url(assets/backgrounds/c_image.jpg);
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 480px;
    padding-top: 80px;
}
input[type=text], input[type=email], textarea{
    background: none;
    border-radius: 3px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    color: white;
    padding: 5px;
    font-family: 'Muli', sans-serif;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus{
    outline: none;
}
.forms{
    padding: 10px;
    font-size: 16px;
}
input[type=text]{
    position: relative;
    margin-right: 210px;
}
form.forms.row{
    margin: 0;
    color: white;
}
input[type=email]{
    position: relative;
    
}

.txtarea{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    padding-top: 20px;
    padding-left: 350px;
}
.fill-in{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 15px;
    position: relative;
    padding-left: 350px;
}
@media screen and (max-width:800px){
    form.fill-in{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        position: relative;
        padding: 0;
    }
    form.txtarea{
        display: flex;
        position: relative;
        padding: 0px;
        max-width: 200px;
    }
    input[type=text], input[type=email]{
        padding-bottom: 0px;
    }
}
.contact-info{
    text-align: center;
    padding: 30px;
    font-size: 11px;
    font-weight: bolder;
}
div.contact-info>img{
    object-fit: scale-down;
    width: 50px;
    height: 50px;
    padding: 10px;
}
.bg{
    background-color: #eff0e0;
    background-size: cover;
}